<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
</head>
<body>

<h1>Homepage</h1>
<p>The list below are the main components, each part plays an important role in having a PC turn on and function for different tasks.
for each part there is a brief summary on what the part does and a link to a more in depth description on the part.</p>
<p>The first part on the list is the CPU - Central Proccessing Unit - this piece is often known as the "brain" of the PC as it controls the other parts.
To find out more click <a href="/cpu">here</a>.</p>
<p>Another vital piece of a PC is the GPU - Graphics Proccessing Unit - this part is what creates the images for display on a monitor
To get more information click <a href="/gpu">here</a>.</p>
<p>The motherboard is the component that links all the pieces together and alows the parts to communicate and work together to complete the task.
For greater information click <a href="/motherboard">here</a></p>
The part for long term storage for information is made up of 3 main devices - NVME drives, Hard drives and SSDs - each work differently and
the more in depth information on the pieces is <a href="/storage">here</a>
<p>The short term, quick access storage is known as RAM - Random Access Memory - or memory. RAM is used for information that n
    eeds to be accessed quickly. For extra information you can click <a href="/ram">here</a></p>
<p>This is a homepage for PC Parts.</p>
<h5><a href="http://127.0.0.1:8000/about/">About Page</a></h5>

</body>
</html>
