<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
</head>
<body>

<h1>Homepage</h1>
<h2><a href="http://127.0.0.1:8000/cpu">CPUs</a></h2>
<h2><a href="http://127.0.0.1:8000/gpu">GPUs</a></h2>
<h2><a href="http://127.0.0.1:8000/mboard">Motherboard</a></h2>
<h2><a href="http://127.0.0.1:8000/storage">Storage</a></h2>
<h2><a href="http://127.0.0.1:8000/ram">RAM</a></h2>
<p>This is a homepage for PC Parts.</p>
<h5><a href="http://127.0.0.1:8000/about/">About Page</a></h5>

</body>
</html>
