<html>
<head>
    <style>
        body {
            background-color: lightgrey;
        }

        h1 {
            color: dimgrey;
            text-align: center;
        }
        h2 {
            colour: white;
            text-align: center;
        }
        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
</head>
<body>

<h1>Homepage</h1>
<h2><a href="http://127.0.0.1:8000/about/">About Page</a></h2>
<p>This is a homepage for PC Parts.</p>

</body>
</html>
