* {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    /*font-size: 20px;*/
}

body {
    background-color: #fef00f;
    margin-left: 14rem;
    margin-right: 14rem;
}

.title {
    font-size: 90px;
    text-align: center;
    /*font-family: "Cascade Script";*/
    font-family: 'Nanum Brush Script', cursive;
}

h1 {
    color: dimgrey;
    text-align: center;
}

h2 > a {
    color: white;
    text-align: center;
}

.imagediv {
    border: 20px white solid;
    width: 50%;
    text-align: center;
}

.imagediv > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}