<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
    <link rel="stylesheet" type="text/css" href="../../static/styles/cpu.css">
    <meta charset="UTF-8">
    <title>CPU Page</title>
</head>
<body>
    <div class="title">CPU</div>
    <p>There are only two brands for a CPU (Central Processing Unit), the ex-leading brand of CPUs from the very start Intel
        and the new better cheaper per core Ryzen from AMD.</p>
    <p> AMD have bounced back as they were in the dust as they were not able to keep up with competitors in the <a
            href="/gpu">GPU</a> and CPU
        market.</p>
    <p>AMD are becoming more popular as they are always pushing the boundaries unlike intel which have used the exact same
        architecture on the CPU for years. </p>
    <div class="imagediv"><img id="cpuimage" src="../../static/images/0_z6DBs7FzNFcMLWiU.jpeg"/></div>
    <p>However, due to the sudden rise in Ryzen sales the prices have skyrocketed so Intel CPUs have in many cases become
        cheaper than the AMD version.</p>
    <p>Also, Ryzen chips are a lot easier and cheaper to replace due to all of the recent Processers using the same Pin
        layout on the back. Whereas Intel ones have many depending on the year of the make and if you have an incompatible
        <a href="/motherboard">Motherboard</a> the CPU won't fit in to the CPU socket, or if it does it might not work.</p>
    <p>But the Motherboards will always tell you the compatible sockets on the website and or Manual. </p>
    <p>The purpose of the CPU is to tell each component what to do and to manage the system</p>
    <a href="/">Back</a>
</body>
</html>