<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Graphics Processing unit - this turns the code into an actual image.
    <p>GPU’s have cores as well as some have something called Raytracing which makes images realistic, and the higher clock speed means it can make the image smoother.</p>
   <p> They also come from 2 manufacturers AMD and Nvidia. Nvidia make GTX and AMD make </p>
</body>
</html>