<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
    <meta charset="UTF-8">
    <title>GPU</title>
</head>
<body>
    <p>Graphics Processing unit - this turns the code into an actual image.</p>
    <p>GPUs have cores as well as some have something called Raytracing which makes images realistic, and the higher clock
        speed means it can make the image smoother.</p>
    <p> They also come from 2 manufacturers AMD and Nvidia. Nvidia make GTX and AMD make Radeon cards. </p>
    <p>Like CPUs there are cores in the processor that deal with all the information coming in and out of the GPU</p>
    <img src="../../static/images/amd-vs-nvidia.jpeg">
</body>
</html>