<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
    <meta charset="UTF-8">
    <title>Motherboard</title>
</head>
<body>
<div class="title">Motherboard</div>
    <p>Like the Cases these come in different form factors, and some come with different features like ability to Overclock
        RAM or CPU or GPU or come with built-in WIFI.</p>
    <p>You need a different Motherboard for each <a href="/cpu"> CPU</a></p>
    <p>A Ryzen CPU needs a AM4 Socket and an Intel one has many sockets like LGA1200 </p>
<div class="imagediv"><img id="cpuimage" src="../../static/images/ASUS-ROG-X670-2.jpeg"/></div>

<p>The Motherboard is most commonly screwed into the back of the Case</p>
    <p>Motherboards like the one pictured below are often more expensive as at the top left all of the input and output plugs are in a box.</p>
<p>Whereas cheaper boards are often only secured by the case so are more likely to break or snap.</p>
<a href="/">Back</a>



</body>
</html>