<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
    <meta charset="UTF-8">
    <title>Motherboard</title>
</head>
<body>
<p>like the Cases these come in different form factors, and some come with different features like ability to Overclock RAM or CPU or GPU or come with built-in WIFI.</p>
<p>You need a different Motherboard for each CPU.</p>
<p>A Ryzen CPU needs a AM4 Socket and an Intel one has many sockets like LGA1200 </p>
<img src="../../static/images/ASUS mboard.png">

</body>
</html>