<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
    <meta charset="UTF-8">
    <title>PSU</title>
</head>
<body>
    <p>Power Supply Unit - This splits the incoming power into different cables, and they come in many different wattages
        like 650w or 1000w.
    <p>They come in different types of cables.</p>
    <p>Modular ones have separate cables you can plug in and take out, Semi-Modular have some detachable cables that you may
        not need but the main ones are still unpluggable and non-modular have every cable attached in to the unit.</p>
    <p> Modular are the most expensive but waste the least amount of electricity and means you can have good cable
        management and non-modular are the cheapest but waste the most and you often have a bundle of cables you don’t use
        or need so it's quite hard to see what cable goes where when they are bundled together. </p>
    <img src="../../static/images/Full-vs-Semi-vs-Non-Modular-PSU.jpeg">
</body>
</html>