<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
    <meta charset="UTF-8">
    <title>RAM</title>
</head>
<body>
<div class="title">RAM Information Page</div>
<p> Random Access Memory, this is used for quick access to files, games etc.
<p>This allows the PC to not lag and stutter as even taking the stuff from an M.2 SSD will cause it to not run as smoothly as with RAM.</p>
<p> You get ram in GB so the most common is 16gb for gaming rigs and higher for workstations as they need to load more applications.</p>
<p>They have different speeds which is measured in MHz (Megahertz) so 3200 MHz is most common for gaming and higher is normally better, but sometimes the motherboard can't run that speed of RAM so it will have to do the highest it can manage. </p>
<p>Just because the RAM has a high speed doesn't always mean that it is running that speed.</p>
<p>Sometimes the default speed isn't the highest possible for that set of RAM in which you will need to change the bios to enable it's full speed</p>
<p>Other times it is because the Motherboard doesn't support that speed of RAM. </p>
<p>Most Motherboards can support the common speeds like 3200MHz but cheaper boards might not be able to support higher speepds such as 4000MHz </p>
<p>However, unless you need a high end computer 4000MHz is not necessary</p>
<img src="../../static/images/corsair-dominator-platinum-rgb-1656107139774.jpeg">

</body>
</html>