<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">

    <title>Storage</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles/base.css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="title">Storage</div>
    <p>SSD – Solid State Drive - the newest form of storage these drives were very expensive at the time of release then
        they are now so like the price of HHD’s they really are only for mass storage. They come in different form factors
        2.5” and smaller faster newer NVME drives that slot into the <a href="/motherboard"> motherboard</a> </p>
    <p>M.2 NVME drives - these forms of SSD’s are cheaper than 2.5” SSDs in lower capacity like 512gb but more expensive in
        large capacity's like 2TB. They are the current fastest SSDs on the market right now.</p>
    <div class="imagediv"><img id="cpuimage" src="../../static/images/hdd-ssd-m.2-nvme.jpg"/></div>

    <p>HDD - Hard Disk Drive – this is a cheaper slower older form of storage. It is rarely used as a main drive nowadays,
        but many use it to store large games or applications. They are bought nowadays in TB (Terabytes) as they are slow
        anyway there is no point in getting a small capacity HDD. It stores info on a disk that spins to get the information
        off it, this means that it can take a while to access the information so that’s why they are not used as a main
        drive as it slows down the entire PC </p>
    <a href="/">Back</a>



</body>
</html>